<p class="lead">Calendar:</p>
<% @favorites.each do |f| %>
	<% if f.happening.time_of.to_date >= Date.today %>
		<ul class="unstyled">
			<li><%= link_to f.happening.title, f.happening %></br>
			<%= f.happening.time_of.strftime("%a | %B %d | %I:%M %p") %></li>
			<hr>
		</ul>
	<% end %>
<% end %>

