<p class="lead">Calendar:</p>
<% @favorites.each do |f| %>
	<% if f.happening %>
		<ul class="unstyled">
			<li><%= link_to f.happening.title, f.happening %></br>
			<hr>
		</ul>
	<% end %>
<% end %>

