<div class="page-header">
	<h1><%= @user.full_name %></h1>
</div>

<% if @happenings %>
	<% @happenings.each do |happening| %>
		<div class ="well"> 
			<%= happening.content %>
			<hr />
			<%= link_to time_ago_in_words(happening.created_at), happening_path(happening) %> ago
		</div>
	<% end %>
<% end %>