
<div class="row-fluid">
	<div class="pagination-centered span12">
	  <h1>Ivity.it</h1>
	  <small class="muted">Adventure's waiting.</small>
	</div>
	<div class="pagination-centered span12">
		<%= form_tag("/", :method => "get") do %>
		<%= submit_tag("", :class => "search-query", :name=>"search", :placeholder => "Search", :type=>"text") %>
		<% end %>
	</div>
</div>