// Place all the styles related to the happenings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.happening {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.happening p {
	margin: 4px 0;
}

.happening.hover {
	background: #FAFAFA;
}

.happening .admin {
	display: none;
}

.happening.hover .admin {
	display: inline;
}

.happening-title {
	margin-bottom: -15px; // Created by should be underneath title
}

.attending_user {
	overflow-y: scroll;
	height: 400px;
}

.createdby {
	padding-top: 10px;
}



